Forgot Password no worries!

Enter your email below

<p><%= form_tag password_reset_index_path do%>
Email<%= email_field_tag :email%>
<%= submit_tag "Submit"%>
<% end%></p>

<%= link_to "Login",login_path%>
