<p>Logged in as <%=@current_user.name%>
<pre>Ip address <%= @current_user.ip_address%></pre>


<ul>
<%if current_user %>
<li><%= link_to "Logout",logout_path%></li>
</ul>
<% end%>
</p>


<h2>On Creativity, Marijuana and "a Butterfly Effect in Thought"</h2>

<p>"The truly creative mind in any field is no more than this: A human creature born abnormally, inhumanly sensitive." [...] "...by some strange, unknown, inward urgency they are not really alive unless they are creating."- Pearl Buck, Winner of a Nobel Prize in Literature in 1938.

In a blog post last year entitled "Marijuana and Divergent Thinking", Jonah Lehrer explains that many creative tasks require the cultivation of an "expansive associative net, or what psychologists refer to as a "flat associative hierarchy." What this essentially suggests is that creative people should be able to make far-reaching connections among all sorts of seemingly unrelated ideas, and to not dismiss one possible connection just because it seems far-fetched.

Creativity and insight almost always involve an experience of acute pattern recognition: the eureka moment in which we perceive the interconnection between disparate concepts or ideas to reveal something new.

The Imaginary Foundation says that "to understand is to perceive patterns" and this is exactly what all great thinkers have done throughout the ages: they have provided a larger, dot-connecting, aerial view of things that subsumes the previous paradigm. As Richard Metzger has written:

    What great minds have done throughout history is provide an aerial view of things. A larger more encompassing view that often subsumes the previous paradigm and then surpasses it in completeness with the vividness of its metaphors. Consider now how the evolving notions of a flat earth, Copernican astronomy and Einsteinian physics have subsequently changed how mankind sees its place in the cosmos, continuously updating the past explanations with something superior.

Media philosopher Marshall McLuhan sets a wonderful example as a patternistic thinker: he saw the electronic global village coming decades before the Internet and interpreted electronic communications as extensions of the human nervous system. He connected the dots. A recent review of Douglas Coupland's McLuhan biography said:


    More than anything, it paints McLuhan as a masterful dot-connector and voracious cross-disciplinary thinker, a curious octopus if you will.

McLuhan, "was a master of pattern recognition," wrote Coupland, "a man who bangs a drum so large that it's only beaten once every hundred years."

This heightened ability to draw connections and novel associations between disparate ideas or objects is the hallmark of creative thinkers, who are always searching for the initial conditions or tools that epiphanies are born from.

I believe that Marijuana is perhaps one of the best cognitive tools for creativity.

THE SCIENCE:

In his ScienceBlogs post, Jonah Lehrer points to a paper recently published in Psychiatry Research, which "sheds some light on why smoking weed seems to unleash a stream of loose associations." In order to examine the relationship between marijuana and creativity, the study looked at a phenomenon called "semantic priming," in which, Lehrer describes:

    The activation of one word allows us to react more quickly to related words...Interestingly, marijuana seems to induce a state of hyper-priming, in which the reach of semantic priming extends outwards to distantly related concepts.

He cites Vaughan Bell:


   <pre> As cannabis certainly causes smokers to have freewheeling thoughts, the researchers decided to test whether stoned participants would show the 'hyper-priming' effect...[And indeed they found that]...volunteers who were under the influence of cannabis showed a definite "hyper-priming" tendency, where distant concepts were reacted to more quickly.</pre>

Essentially, marijuana can extend the range of our free-associative capacities. It increases the novel ways in which we find connections between ideas, and it also extends the range of ideas that we might somehow relate to one another.

While not surprising, it does offer a scientific validation for what so many artists, philosophers and scientists have been saying for ages: that marijuana is a cognitive catalyst that can trigger heightened free-associative creativity, increased pattern recognition, and insight.</p>

<h2>THE SUBJECTIVE EFFECT</h2>

<p>"Cannabis is an assassin of referentiality inducing a BUTTERFLY EFFECT in THOUGHT," says Darwin's Pharmacy author Rich Doyle. This effect "de-conditions our thinking" leading to what RealitySandwich.com described as "the really big connectivity ideas arrived at wholly outside the linear steps of argument. These are the gestalt-perceiving, asterism-forming "aha's!" that connect the dots and light up the sky with a new archetypal pattern."

You can see the hyper-priming, free-associative effect at play when Doyle adds that "cannabis induces a parataxis wherein sentences resonate together and summon coherence in the bardos between one statement and other, rather than through explicit semantics."

"...The words-leap-to-mind, one-after-another, of themselves without having to be searched for," adds anthropologist Henry Munn. "It's a phenomenon similar to the automatic dictation of the surrealists except that here the flow of consciousness tends to be coherent: a rational enunciation of meanings."

"...the fluency, the ease, the aptness of expression one becomes capable of are such that one is astounded by the words that issue forth... For the inspired one, it is as if existence were uttering itself through him..."

To quote Khalil Gibran, it feels as if words "come through you but not from you and though they are with you they belong NOT to you." You feel as if you are having a download.

Psychonaut and ecstatic poet Terence McKenna, who described language as an ecstatic activity of signification, wrote that marijuana "excites vocalization and empowers articulation. It transmutes language into something that is visibly beheld." Indeed it liberates our linguistic straight-jacket.

Perhaps this is why so many artists have enjoyed Marijuana's effects.

Charles Baudelaire was fond of hosting "hashish parties" where members of the intelligentsia could use hashish to elicit a very affective 'rhapsodic oratory':

    <pre>People completely unsuited for word-play will improvise an endless string of puns and wholly improbable idea relationships fit to outdo the ablest masters of this preposterous craft...

    Every difficult question that presents a point of contention for theologians, and brings despair to thoughtful men, becomes clear and transparent. Every contradiction is reconciled. Man has surpassed the gods.</pre>


Walter Benjamin wrote the book On Hashish where he articulated philosophical "protocols": first person accounts of marijuana intoxication.

Carl Sagan publicly came out saying marijuana often triggered creative outbursts. So too for Richard Feynman and recently there has been evidence that Shakespeare himself was a toker.</p>

<h2>MARIJUANA AND ART : The 'Ecstasy' of Beauty</h2>

<p>"Beauty is an altered stated of consciousness, an extraordinary moment of poetry and grace, a rousing symphonic climax. To seek beauty is to have the willingness, the inclination, and the impetuous desire for this encounter to transpire. Great art expands the way we see. It uplifts the human spirit from the barbaric and thrusts it towards the numinous." - Director, Imaginary Foundation

"One day we'll fall down and weep and we'll understand it all" - Tree of Life film.

The sentence above sentence is heard in the trailer to Terrence Malick's Tree of Life and I believe it speaks of the ecstatic illumination bursting forth during our properly understood encounters with great art, great love and great truth.

As I've said before, Marijuana enhances our ability to marvel: In some mysterious and uncannily recurring way, marijuana can induce an almost 'synesthetic ecstasy,' whereby a loosening of the usually firm borders that separate our five senses allows for a broader, deeper, more profound, and often time-dilated "interpretation" and "internalization" of moment-to-moment experience.

Marijuana treats us to an awareness of a simultaneity of sensations, a sort of meta-pleasure, which is not surprising, given the roots of the term 'ecstasy,' as Rich Doyle writes:


   <pre> "Ecstasy" comes etymologically from the experience of "being beside ourselves." The mathematician Brian Rotman has written extensively on this idea that we can experience "parallel" rather than "serial" reality."</pre>

This makes it a great tool for the appreciation and study of art.

Imagine the here and now" as a usually folded accordion, revealing only a fraction of what is there: what weed does is it unfolds this 'accordion of the present moment', by sharpening our focus, diverging our thoughts, loosening our reality tunnel, augmenting our semantic priming, removing our judgments and slowing how we perceive time...

Subjectively, this manifests itself in the perception that the "feelings" elicited by art and music are in fact the ACTUAL feelings the artist felt, somehow, dizzyingly 'captured' by the work, immortalized, held in 'static communion' by the canvas, or musical recording, or camera... and now able to enrapture and enchant us indefinitely.

We FEEL (and correctly recognize) the emotions of the artist, we apprehend the wordless, yet-no-less emotive SENSATIONS that were vividly translated from the artist's inner-experience into a communicable form. It is for this reason that we say that "music communicates the uncommunicable", or that "art is about certain feelings that cannot be expressed accurately in words", or that "a picture is worth a thousand words." We are therefore able to understand art as a tool for communication.

Art may be an important supplement to traditional language, due to its ability to convey and communicate truth that doesn't fit inside the present constraints traditional language might impose on us.

Perhaps this is why filmmaker Werner Herzog says he prefers "ecstatic truth" to factual truth... For whereas a literal journalist might have certain facts straight, the articulation of a poet or artist, though less "factual", can actually reveal a deeper truth. As Alain DeBotton once wrote, the artist is "willing to sacrifice a naive realism in order to achieve realism of a deeper sort, like a poet who, though less factual than a journalist in describing an event, may nevertheless reveal truths about it that find no place in the other's literal grid."

This still leaves open the question of why the artist chooses to make art. Why doesn't he just "experience the present" and be done with it. It certainly would expend less effort.

Ernest Becker wrote in The Denial Of Death that the artist's motivation comes from a desire to channel the anxiety about our mortality in a creative way. While not disagreeing, I might add that it is when we make art that we defy death.

Richard Doyle explained to me that among other things, a desire to make art "shows that there is compassion, a will to share the outcome of the work of beauty on us, a bubbling desire to awaken us to our common ecstasy. Why suffer when we can SEE?" He continued, saying that insight comes from practice in letting go of prior thought formations and that marijuana does not <"cause these sessions but "occasions" them. this is why cannabis must be understood as a teacher plant: if used with intention, we learn to let go of what we 'know' and, instead, wonder."</p>